@use '_vars.scss' as *;
@use '_generics.scss' as *;
@use '_reset.scss' as *;
@use '_utilities.scss' as *;


/********************************************
    LAYOUT
********************************************/

body {
    //font-family: 'Ubuntu', sans-serif;
    color: white;
  }

li {
    list-style: none;
}

.subtitle {
	font-size: 18px;
	font-weight: 600;
	color: #00AC4D;
	position: relative;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.title {
	margin-top: 10px;
	color: #fff;
	font-size: 50px;
}





